body {
    position: relative;
}
.container {
    width: 75%;
    margin: 1rem auto;
}
.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    
}
.grid-1-4 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
    
}
.grid-1-2 {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 1rem;
}
@media (max-width:768px) {
    .grid {
        grid-template-columns: auto auto;
    }
    .grid-1-4 {
        grid-template-columns: auto auto;
    }
    .grid-1-2 {
        grid-template-columns: auto;
    }
}

@media (max-width:480px) {
    .container {
        width: 60%;
        margin: 0 auto;
    }
    .grid {
        display: grid;
        grid-template-columns: auto ;
        gap: 1rem;
        
    }
    .grid-1-4 {
        display: grid;
        grid-template-columns: auto;
        gap: 1rem;
        
    }
}