.team-card {
   margin-bottom: 1rem;
}
.team-header {
    font-size: 2rem;
}
.team-details{
    padding-top: 10px;
    padding-left: 14px;
}
.team-name {
    margin: 10px 0 5px 0;
    font-size: 1rem;
}
.team-position {
    margin: 0;
    color: grey;
    font-size: .9rem;
}
.team-img {
    height: 12.5rem;
    width: 12.5rem;
    background-size: cover;
}
.team-items {
    margin-top: 1rem;
}
.team-icon{
    font-size: 1.2rem;
    color: #184fc7;
}
.team-icon:not(:last-child) {
   margin-right: 12px;
}
